section.bullets-image-card {
    .card {
        padding: 80px;
        background: $grey;
        border-radius: $radius-mid;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 100%);
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $grey;
        }

        > *:last-child {
            margin-bottom: 0;
        }

        > h2 {
            text-align: center;
            margin-bottom: 80px;
        }

        .wrap {
            position: relative;
            min-height: 700px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .bullets {
                font-size: 1.5rem;
                width: 50%;

                .bullet {
                    position: relative;
                    padding-left: 60px;
                    max-width: 500px;

                    &:before {
                        @extend .icon-font;
                        content: '\e910';
                        position: absolute;
                        left: 0;
                        top: 10px;
                        font-size: 1.25rem;
                    }
                }
            }

            .image {
                position: absolute;
                right: -120px;
                top: 0;
                bottom: 0;
                display: block;
                width: 50%;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.bullets-image-card {
        .card {
            padding: 20px;

            h2 {
                margin-bottom: 20px;
            }

            .wrap {
                .bullets {
                    width: 100%;
                    margin-bottom: 20px;
                    font-size: 1.25rem;
                }

                .image {
                    position: relative;
                    display: block;
                    transform: none;
                    left: auto;
                    top: auto;
                    right: auto;
                    bottom: auto;
                    width: 100%;

                    img {
                        position: relative;
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}
