section.bullets-image-card {
    .card {
        padding: 80px;
        background: $grey;
        border-radius: $radius-mid;

        > *:last-child {
            margin-bottom: 0;
        }

        > h2 {
            text-align: center;
            margin-bottom: 80px;
        }

        .wrap {
            position: relative;
            min-height: 700px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .bullets {
                font-size: 1.5rem;
                width: 50%;

                .bullet {
                    position: relative;
                    padding-left: 60px;
                    max-width: 500px;

                    &:before {
                        @extend .icon-font;
                        content: '\e900';
                        position: absolute;
                        left: 0;
                        top: 5px;
                        font-size: 1.5rem;
                    }
                }
            }

            .image {
                position: absolute;
                right: -120px;
                top: 0;
                bottom: 0;
                display: block;
                width: 50%;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}
