section.column-quote-subscription {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 400px;
        background: $grey;
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .reviews {
        padding: 80px;
        border-radius: $radius-mid;
        background: $white;
        margin: 80px auto 0 auto;
        max-width: 1000px;
        text-align: center;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 100%);
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $white;
        }

        .author {
            font-size: 1rem;
        }

        > *:last-child {
            margin-bottom: 0;
        }

        .single-review {
            padding-bottom: 40px;
            border-bottom: 1px solid $blue;
            max-width: 700px;
            margin: 0 auto 40px auto;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border: none;
            }
        }
    }

    .form-content {
        max-width: 700px;
        margin: 80px auto 0 auto;
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
    section.column-quote-subscription {
        .reviews {
            padding: 20px;
        }

        .form-content {
            margin-top: 40px;
        }
    }
}
