section.column-quote-subscription {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 400px;
        background: $grey;
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .reviews {
        padding: 40px;
        border-radius: $radius-mid;
        background: $white;
        margin: 80px auto 0 auto;
        max-width: 1000px;
        text-align: center;

        .author {
            font-size: 1rem;
        }

        > *:last-child {
            margin-bottom: 0;
        }

        .single-review {
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid $blue;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border: none;
            }
        }
    }

    .form-content {
        max-width: 800px;
        margin: 80px auto 0 auto;
        text-align: center;
    }
}
