section.form-image {
    position: relative;

    &.top .content {
        transform: translateX(-50%);
        top: 100px;
    }

    &.bottom .content {
        transform: translateX(-50%);
        bottom: 100px;
        top: auto;
    }

    .image {
        display: block;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &:before {
            content: '';
            padding-top: 75%;
            display: block;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.25);
            z-index: 2;
        }

        img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            object-fit: cover;
            object-position: center;
        }
    }

    .content {
        z-index: 10;
        max-width: calc(100% - 80px);
        width: 800px;
        margin: 0 auto;
        text-align: center;
        color: $white;
        font-size: 1.25rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .wpforms-container + p {
            margin-top: 20px;
        }
    }
}
