section.form-image {
    position: relative;

    &.text-dark .content {
        color: $text;
    }

    &.top .content {
        transform: translateX(-50%);
        top: 100px;
    }

    &.bottom .content {
        transform: translateX(-50%);
        bottom: 100px;
        top: auto;
    }

    .image {
        display: block;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &:before {
            content: '';
            padding-top: 75%;
            display: block;
        }

        img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            object-fit: cover;
            object-position: center;
        }
    }

    .content {
        z-index: 10;
        max-width: calc(100% - 80px);
        width: 800px;
        margin: 0 auto;
        text-align: center;
        color: $white;
        font-size: 1.25rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .wpforms-container + p {
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.form-image {
        padding-bottom: 80px;

        + section.white {
            margin-top: -80px;
        }

        .content {
            position: static;
            max-width: calc(100% - 40px);
            width: auto;
            transform: none !important;
            color: $text;
            font-size: 1rem;
        }

        .image {
            margin-bottom: 40px;

            &:after {
                content: none;
            }
        }
    }

}
