section.hero {
    position: relative;

    &.media-first {
        .content {
            padding: 0 0 0 80px;
            margin-left: auto;
        }

        .image {
            right: auto;
            left: 0;
        }
    }

    .content {
        width: 50%;
        padding: 0 80px 0 0;
        font-size: 3rem;

        p {
            line-height: 1.2;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }

    .image {
        position: absolute;
        right: 0;
        top: 0;
        width: 50vw;
        height: 100%;
        display: block;

        img {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.hero {
        .content {
            width: 100%;
            margin: 0;
            padding: 0 !important;
        }

        .image {
            width: 100%;
            position: relative;

            &:before {
                content: '';
                padding-top: 85%;
                display: block;
            }
        }
    }
}
