section.logos {
    h2 {
        margin-bottom: 40px;
        text-align: center;
    }

    .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: -20px;

        > * {
            width: calc(20% - 40px);
            max-width: calc(20% - 40px);
            flex-basis: calc(20% - 40px);
            margin: 20px;
            position: relative;
            display: block;
            border-radius: $radius-mid;

            > *:last-child {
                margin-bottom: 0;
            }

            img {
                object-fit: contain;
                object-position: center;
                display: block;
                width: 100%;
                max-height: 80px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    section.logos .flex-wrapper > * {
        width: calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        flex-basis: calc(33.333% - 20px);
    }
}

@media only screen and (max-width: 500px) {
    section.logos .flex-wrapper > * {
        width: calc(50% - 20px);
        max-width: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
    }
}
