section.post-archive-intro {
    .container {
        padding-bottom: 40px;
    }

    .flex-wrapper {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -10px;

        > *:first-child {
            width: calc(66.666% - 20px);
            max-width: calc(66.666% - 20px);
            flex-basis: calc(66.666% - 20px);
            margin: 10px;
            background: $grey;

            .image {
                display: block;
                position: relative;

                &:before {
                    content: '';
                    padding-top: 35%;
                    display: block;
                }

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .content {
                padding: 20px;

                .title-wrap {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    .controls {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        flex-grow: 0;
                        flex-shrin: 0;
                        margin-left: 20px;
                    }

                    .prev,
                    .next {
                        margin-left: 8px;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        border: 1px solid $text;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;

                        &.prev:before {
                            transform: scaleX(-1);
                        }

                        &:hover,
                        &:focus {
                            border-color: $orange;
                            background: $orange;
                            color: $white;
                        }

                        &:before {
                            @extend .icon-font;
                            content: '\e910';
                            position: relative;
                            font-size: .9rem;
                        }
                    }
                }

                > *:last-child {
                    margin-bottom: 0;
                }
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }

        > *:last-child {
            width: calc(33.333% - 20px);
            max-width: calc(33.333% - 20px);
            flex-basis: calc(33.333% - 20px);
            margin: 10px;
            background: $light-blue;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .image {
                display: block;
                position: relative;
                width: 100%;
                flex-grow: 0;
                flex-shrink: 0;

                &:before {
                    content: '';
                    padding-top: 56.25%;
                    display: block;
                }

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .content {
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                flex-grow: 1;
                flex-shrink: 1;

                > *:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

section.post-archive {
    .container {
        padding-top: 40px;
    }

    + section.column-quote-subscription .container {
        padding-top: 0 !important;

        .reviews {
            margin-top: 0 !important;
        }
    }

    .search-form {
        margin-bottom: 20px;

        form div {
            margin-left: auto;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.post-archive-intro {
        .flex-wrapper {
            display: block;
            margin: 0;

            > *:first-child,
            > *:last-child  {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                margin: 0 0 20px 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
