section.pros-image {
    .container {
        padding-bottom: 0 !important;
    }

    .card {
        background: $purple;
        padding: 80px;
        text-align: center;
        border-radius: $radius-mid;
        position: relative;
        z-index: 5;

        h2 {
            margin-bottom: 80px;
        }

        .pro {
            position: relative;
            padding-left: 60px;
            font-size: 1.5rem;
            text-align: left;
            margin: 0 auto 20px auto;
            max-width: 800px;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                @extend .icon-font;
                content: '\e900';
                position: absolute;
                left: 0;
                top: 5px;
                font-size: 1.5rem;
            }
        }
    }

    .image {
        position: relative;
        display: block;
        margin-top: -300px;

        &:before {
            content: '';
            padding-top: 65%;
            display: block;
        }

        img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.pros-image {
        .image {
            margin-top: -100px;
        }

        .card {
            padding: 20px;

            h2 {
                margin-bottom: 20px;
            }

            .pro {
                font-size: 1.1rem;
                padding-left: 30px;

                &:before {
                    font-size: 1.25rem;
                }
            }
        }
    }
}
