section.scan {
    h2 {
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 40px;
    }

    .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -40px;

        > * {
            width: calc(60% - 80px);
            max-width: calc(60% - 80px);
            flex-basis: calc(60% - 80px);
            margin: 40px;
            font-size: 1.25rem;

            > * {
                max-width: 500px;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }

        > *:last-child {
            width: calc(40% - 80px);
            max-width: calc(40% - 80px);
            flex-basis: calc(40% - 80px);
        }

        .image {
            display: block;

            img {
                display: block;
                margin: 0;
                width: 100%;
            }
        }
    }

    .form-wrap {
        max-width: 600px;
        margin: 80px auto 0 auto;
        text-align: center;

        p.light {
            margin-top: 20px;
            margin-bottom: 0;
        }
    }

    .single-review {
        padding: 80px;
        border-radius: $radius-mid;
        background: $white;
        font-size: 1.5rem;
        margin: 80px auto 0 auto;
        max-width: 1000px;
        text-align: center;
        position: relative;

        &:before {
            @extend .icon-font;
            content: '\e911';
            font-size: 2rem;
            margin-bottom: 20px;
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $white;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, -100%);
        }

        .author {
            font-size: 1rem;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.scan {
        .single-review {
            padding: 20px;
            font-size: 1rem;
        }

        .flex-wrapper {
            display: block;
            margin: 0;

            .image {
                padding-left: 40px;

                img {
                    max-width: 300px;
                    display: block;
                    margin: 0 auto;
                }
            }

            > *:first-child,
            > *:last-child {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                margin: 0 0 20px 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
