section.single-review {
    position: relative;

    &.small {
        .content {
            position: static;
            transform: none;
            color: $text;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;

            h2 {
                font-size: 1.5rem;
                font-weight: 500;
            }

            .image {
                display: block;
                margin-bottom: 20px;

                img {
                    width: 125px;
                }
            }
        }
    }

    &:not(.small) {
        .image {
            display: block;
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            &:before {
                content: '';
                padding-top: 75%;
                display: block;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(10px);
                z-index: 2;
            }

            img {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                object-fit: cover;
                object-position: center;
            }
        }

        .content {
            z-index: 10;
            max-width: calc(100% - 80px);
            width: 800px;
            margin: 0 auto;
            text-align: center;
            color: $white;
            font-size: 1.5rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            h2 {
                font-weight: 500;
            }

            .author {
                font-size: 1.25rem;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.single-review {
        &:not(.small) {
            padding-bottom: 80px;

            + section.white {
                margin-top: -80px !important;
            }

            .content {
                position: static;
                max-width: calc(100% - 40px);
                width: auto;
                transform: none;
                color: $text;
                font-size: 1rem;
            }

            .image {
                margin-bottom: 40px;
                &:after {
                    content: none;
                }
            }
        }
    }
}
