section.special {
    position: relative;
    z-index: 0;

    .container {
        position: static;
    }

    .content {
        width: 50%;
        padding: 0 80px 0 0;
        font-size: 1.25rem;

        .button-wrap {
            text-align: center;
        }

        > *:last-child {
            margin-bottom: 0;
        }

        .meta {
            margin-top: 20px;
        }

        .courses {
            margin-bottom: 20px;

            .course {
                margin-bottom: 20px;
                background: $white;
                border-radius: $radius-mid;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 20px;

                .date {
                    border-right: 1px solid rgba(0, 0, 0, 0.1);
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-right: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    font-weight: 500;
                    padding-left: 10px;
                    padding-right: 20px;

                    .day {
                        display: block;
                        font-size: 3rem;
                        line-height: 1;
                        margin-bottom: 5px;
                    }

                    .month {
                        display: block;
                        line-height: 1;
                        font-size: 1.5rem;
                    }
                }

                .info {
                    > *:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .image {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        display: block;
        z-index: 0;

        img {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media only screen and (min-width: 2200px) {
    section.special {
        .image {
            width: 1000px;
            right: auto;
            left: 50%;
        }
    }
}

@media only screen and (max-width: 991px) {
    section.special {
        .content {
            width: 100%;
            margin: 0;
            padding: 0 !important;
            font-size: 1rem;

            .courses .course .date {
                .day {
                    font-size: 2rem;
                }

                .month {
                    font-size: 1.25rem;
                }
            }
        }

        .image {
            width: 100%;
            position: relative;

            &:before {
                content: '';
                padding-top: 85%;
                display: block;
            }
        }
    }
}
