section.steps {
    position: relative;
    z-index: 5;
    .intro {
        font-size: 1.25rem;
    }

    &.simple {
        .steps-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: -20px;

            > * {
                width: calc(33.333% - 40px);
                max-width: calc(33.333% - 40px);
                flex-basis: calc(33.333% - 40px);
                margin: 20px;
                text-align: center;
                font-size: 1.35rem;

                .count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 125px;
                    height: 125px;
                    font-size: 2rem;
                    margin: 0 auto 100px auto;
                    position: relative;
                    background-image: url(/wp-content/themes/websheriff/library/images/polygon.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;

                    &:after {
                        content: '';
                        display: block;
                        height: 40px;
                        width: 1px;
                        background: $text;
                        margin: 40px auto;
                        left: 50%;
                        top: calc(100% - 10px);
                        position: absolute;
                        transform: translateX(-50%);
                    }
                }

                > *:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.slider {
        overflow: hidden;

        .slick-list,
        .slick-track {
            overflow: visible;
        }

        .step {
            padding-left: 75px;
            padding-top: 75px;
            width: 80vw;
            max-width: 300px;
            margin-right: 20px;
            position: relative;
            z-index: 5;

            .count {
                position: absolute;
                left: 0;
                top: 0;
                width: 125px;
                height: 125px;
                background: $white;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $light-blue;
                font-size: 3rem;
                z-index: -1;
                font-weight: 500;
            }
        }
    }

    &.card,
    &.dark-card {
        .steps-wrapper {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 20px -10px -40px -10px;

            > * {
                width: calc(33.333% - 20px);
                max-width: calc(33.333% - 20px);
                flex-basis: calc(33.333% - 20px);
                margin: 40px 10px;
                text-align: center;
                font-size: 1.1rem;
                background: $white;
                padding: 60px 40px 40px 40px;
                border-radius: $radius-mid;
                position: relative;

                > *:last-child {
                    margin-bottom: 0;
                }

                .count {
                    display: flex;
                    align-items: center;
                    transform: translate(-50%, -50%);
                    justify-content: center;
                    border-radius: 100%;
                    width: 80px;
                    height: 80px;
                    background-image: url(/wp-content/themes/websheriff/library/images/polygon.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    font-size: 1.5rem;
                    position: absolute;
                    left: 50%;
                    top: 0;
                }

                > *:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.dark-card .steps-wrapper > * {
        background: $purple;
    }
}

@media only screen and (max-width: 991px) {
    section.steps {
        &.simple {
            .steps-wrapper {
                display: block;
                margin: 0;

                > * {
                    width: 100%;
                    max-width: 100%;
                    flex-basis: 100%;
                    margin: 0 0 40px 0;
                    font-size: 1rem;

                    .count {
                        width: 80px;
                        height: 80px;
                        font-size: 2rem;
                        margin-bottom: 50px;

                        &:after {
                            height: 20px;
                            top: calc(100% - 20px);
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &.card,
        &.dark-card {
            .steps-wrapper {
                display: block;
                margin: 80px 0 0 0 !important;

                > * {
                    width: 100%;
                    max-width: 100%;
                    flex-basis: 100%;
                    font-size: 1rem;
                    margin: 0 0 80px 0;

                    h4 {
                        font-size: 24px;
                        font-weight: 400;
                        margin-bottom: 20px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
