section.text-columns {
    .content {
        max-width: 800px;
        margin: 0 auto;
    }

    .flex-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -40px;

        > * {
            width: calc(50% - 80px);
            max-width: calc(50% - 80px);
            flex-basis: calc(50% - 80px);
            margin: 40px;

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.text-columns .flex-wrapper {
        display: block;
        margin: 0;

        > * {
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
            margin: 0 0 20px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
