section.text-image {
    h2 {
        text-align: center;
        margin-bottom: 80px;
    }

    .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -40px;
        font-size: 1.25rem;

        > *:first-child {
            width: calc(60% - 80px);
            max-width: calc(60% - 80px);
            flex-basis: calc(60% - 80px);
            margin: 40px;

            > *:last-child {
                margin-bottom: 0;
            }
        }

        .image {
            display: block;
        }

        > *:last-child {
            width: calc(40% - 80px);
            max-width: calc(40% - 80px);
            flex-basis: calc(40% - 80px);
            margin: 40px;

            img {
                display: block;
                width: 100%;
                border-radius: $radius-mid;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.text-image .flex-wrapper {
        display: block;
        margin: 0;

        > *:first-child,
        > *:last-child{
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
            margin: 0 0 20px 0;
            font-size: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
