section.text {
    &.white.horizontal + section.text.white.horizontal {
        padding-top: 100px;
        border-top: 1px solid $text;
    }

    &.has-image {
        margin-top: 200px;

        .container {
            padding-top: 0 !important;

            > img {
                max-width: 600px;
                margin: -200px auto 40px auto;
            }
        }
    }

    &.text-medium {
        font-size: 1.25rem;
    }

    &.text-large {
        font-size: 2rem;
    }

    &.vertical {
        text-align: center;

        .col > *:last-child {
            margin-bottom: 0;
        }

        .col {
            margin-bottom: 20px;
        }

        .content {
            max-width: 800px;
            margin: 0 auto;

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.horizontal {
        .flex-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: -40px;

            > *:first-child {
                width: calc(33.333% - 80px);
                max-width: calc(33.333% - 80px);
                flex-basis: calc(33.333% - 80px);
                margin: 40px;

                > *:last-child {
                    margin-bottom: 0;
                }
            }

            > *:last-child {
                width: calc(66.666% - 80px);
                max-width: calc(66.666% - 80px);
                flex-basis: calc(66.666% - 80px);
                margin: 40px;

                > *:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.text.white.horizontal+section.text.white.horizontal {
        padding-top: 80px;
    }

    section.text {
        &.has-image {
            margin-top: 200px;

            .container {
                padding-top: 0 !important;

                > img {
                    max-width: 100%;
                    margin: -200px auto 40px auto;
                }
            }
        }

        .flex-wrapper,
        &.horizontal .flex-wrapper {
            display: block;
            margin: 0;

            > *:first-child,
            > *:last-child {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                margin: 0 0 20px 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.text-medium {
            font-size: 1.1rem;
        }

        &.text-large {
            font-size: 1.5rem;
        }
    }
}
