.btn,
button[type=submit]:not(.dgwt-wcas-search-submit),
input[type=submit] {
    appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    background-color: $orange !important;
    color: $white !important;
    font-weight: 500 !important;
    font-size: 1rem;
    padding: 10px 20px !important;
    font-family: $font-body;
    line-height: 1.6;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: 1px solid $orange;
    transition: all 0.3s ease-in-out;
}

.btn-ghost {
    appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    background-color: transparent !important;
    color: $text !important;
    font-weight: 500 !important;
    font-size: 1rem;
    padding: 10px 20px !important;
    font-family: $font-body;
    line-height: 1.6;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: 1px solid $text;
    transition: all 0.3s ease-in-out;

    &.white {
        border-color: $white !important;
        color: $white !important;
    }
}

.buttons {
    &.center * {
        margin: 0 5px 10px 5px;
    }

    .btn:nth-child(2) {
        background: $light-blue !important;
        border-color: $light-blue !important;

        &:hover,
        &:focus {
            background: $orange !important;
            border-color: $orange !important;
        }
    }

    * {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
