.btn,
button[type=submit]:not(.dgwt-wcas-search-submit),
input[type=submit] {
    appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    background-color: $orange !important;
    color: $white !important;
    font-weight: 500 !important;
    font-size: 1.15rem;
    padding: 15px 20px !important;
    font-family: $font-body;
    line-height: 1.6;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: 1px solid $orange;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        background-color: $dark-blue !important;
        color: $white !important;
        border-color: $dark-blue !important;
    }

}


.btn-text {
    appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    color: $text;
    font-family: $font-titles;
    border: none;
    font-weight: 500;
    box-shadow: none;
    position: relative;
    padding-right: 25px;
    z-index: 5;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        color: #a75f28;
    }

    &:after {
        @extend .icon-font;
        content: '\e910';
        margin-left: 10px;
        font-size: .8rem;
    }
}

.btn-ghost {
    appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    background-color: transparent !important;
    color: $text !important;
    font-weight: 500 !important;
    font-size: 1.15rem;
    padding: 15px 20px !important;
    font-family: $font-body;
    line-height: 1.6;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: 1px solid $text;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        background-color: $orange !important;
        color: $white !important;
        border-color: $orange !important;
    }

    &.white {
        border-color: $white !important;
        color: $white !important;

        &:hover,
        &:focus {
            background-color: $orange !important;
            color: $white !important;
            border-color: $orange !important;
        }
    }
}

.buttons {
    &.center * {
        margin: 0 5px 10px 5px;
    }

    .btn:nth-child(2) {
        background: $light-blue !important;
        border-color: $light-blue !important;

        &:hover,
        &:focus {
            background: $orange !important;
            border-color: $orange !important;
        }
    }

    * {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
