section:not(.pros-image):not(.mid-blue):not(.form-image):not(.single-review):not(.image):not(.hero):not(.dark-blue):not(.blue):not(.grey):not(.purple) + section:not(.mid-blue):not(.form-image):not(.single-review):not(.image):not(.hero):not(.dark-blue):not(.blue):not(.grey):not(.purple) .container {
    padding-top: 0 !important;
}

section.dark-blue {
    background: $dark-blue;
    color: $white;

    a {
        color: $white;
    }

    + section.dark-blue .container {
        padding-top: 0 !important;
    }
}

section.mid-blue {
    background: $blue;

    + section.mid-blue .container {
        padding-top: 0 !important;
    }
}

section.blue {
    background: $light-blue;

    + section.blue .container {
        padding-top: 0 !important;
    }
}

section.grey {
    background: $grey;

    + section.grey .container {
        padding-top: 0 !important;
    }
}


section.purple {
    background: $purple;

    + section.purple .container {
        padding-top: 0 !important;
    }
}
