section:not(.pros-image):not(.mid-blue):not(.form-image):not(.single-review):not(.image):not(.hero):not(.dark-blue):not(.blue):not(.grey):not(.purple) + section:not(.mid-blue):not(.form-image):not(.single-review):not(.image):not(.hero):not(.dark-blue):not(.blue):not(.grey):not(.purple) .container {
    padding-top: 0 !important;
}

section {
    ul {
        margin: 0 0 20px 0;
        padding: 0;

        li {
            list-style: none;
            padding-left: 50px;
            margin: 0 0 20px 0;
            position: relative;

            &.big {
                padding-left: 70px;

                &:before {
                    @extend .icon-font;
                    position: absolute;
                    left: 0;
                    top: -2px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    border-radius: 100%;
                    border: 1px solid $text;
                    color: $text;
                    font-size: 1.5rem;
                }
            }

            &.cross:before {
                content: '\e912';
                transform: rotate(45deg);
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                @extend .icon-font;
                content: '\e913';
                position: absolute;
                left: 0;
                top: 0px;
                color: $text;
                font-size: 2rem;
            }
        }
    }
}

section.add-connector-arrow {
    position: relative;

    .connector {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);
        content: '';
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $white;
    }
}

section.dark-blue {
    background: $dark-blue;
    color: $white;

    .connector {
        border-top-color: $dark-blue;
    }

    a {
        color: $white;
    }

    + section.dark-blue .container {
        padding-top: 0 !important;
    }
}

section.mid-blue {
    background: $blue;

    .connector {
        border-top-color: $blue;
    }

    + section.mid-blue .container {
        padding-top: 0 !important;
    }
}

section.blue {
    background: $light-blue;

    .connector {
        border-top-color: $light-blue;
    }

    + section.blue .container {
        padding-top: 0 !important;
    }
}

section.grey {
    background: $grey;

    .connector {
        border-top-color: $grey;
    }

    + section.grey .container {
        padding-top: 0 !important;
    }
}

section.purple {
    background: $purple;

    .connector {
        border-top-color: $purple;
    }

    + section.purple .container {
        padding-top: 0 !important;
    }
}
