@font-face {
    font-family: 'Helvetica Neue';
    src: url('../library/fonts/HelveticaNeue-Roman.eot'),
    url('../library/fonts/HelveticaNeue-Roman.woff') format('woff'),
    url('../library/fonts/HelveticaNeue-Roman.woff2') format('woff2'),
    url('../library/fonts/HelveticaNeue-Roman.ttf') format('truetype'),
    url('../library/fonts/HelveticaNeue-Roman.svg') format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../library/fonts/HelveticaNeue-Medium.eot'),
    url('../library/fonts/HelveticaNeue-Medium.woff') format('woff'),
    url('../library/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
    url('../library/fonts/HelveticaNeue-Medium.ttf') format('truetype'),
    url('../library/fonts/HelveticaNeue-Medium.svg') format('svg');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../library/fonts/HelveticaNeue-Light.eot'),
    url('../library/fonts/HelveticaNeue-Light.woff') format('woff'),
    url('../library/fonts/HelveticaNeue-Light.woff2') format('woff2'),
    url('../library/fonts/HelveticaNeue-Light.ttf') format('truetype'),
    url('../library/fonts/HelveticaNeue-Light.svg') format('svg');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../library/fonts/HelveticaNeue-Thin.eot'),
    url('../library/fonts/HelveticaNeue-Thin.woff') format('woff'),
    url('../library/fonts/HelveticaNeue-Thin.woff2') format('woff2'),
    url('../library/fonts/HelveticaNeue-Thin.ttf') format('truetype'),
    url('../library/fonts/HelveticaNeue-Thin.svg') format('svg');
    font-style: normal;
    font-weight: 200;
}


@font-face {
    font-family: 'Iconfont';
    src: url('../library/fonts/icomoon.eot'),
    url('../library/fonts/icomoon.woff') format('woff'),
    url('../library/fonts/icomoon.ttf') format('truetype'),
    url('../library/fonts/icomoon.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}

.icon-font {
    font-family: 'Iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.2;

    /* Better Font Rendering =========== */
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-family: $font-titles;
    margin: 0 0 $gutter-small 0;
    line-height: 1;
    position: relative;
    z-index: 10;
    font-weight: 300;

    .green {
        color: $orange;
    }

    .blue {
        color: $blue;
    }
}

h1, .h1 {
    font-size: 64px;
    line-height: 1.2;
    font-weight: 200;
}

h2, .h2 {
    font-size: 44px;
    line-height: 1.2;
}

h3, .h3 {
    font-size: 30px;
    line-height: 1.2;
}

h4, .h4 {
    font-size: 26px;
    line-height: 1.2;
}

h5, .h5 {
    font-size: 18px;
    line-height: 1.2;
}

@media only screen and (max-width: 991px) {
    h1, .h1 {
        font-size: 40px;
    }

    h2, .h2 {
        font-size: 28px;
    }

    h3, .h3 {
        font-size: 22px;
    }

    h4, .h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}
