@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: 'Iconfont';
    src: url('../library/fonts/icomoon.eot'),
    url('../library/fonts/icomoon.woff') format('woff'),
    url('../library/fonts/icomoon.ttf') format('truetype'),
    url('../library/fonts/icomoon.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}

.icon-font {
    font-family: 'Iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.2;

    /* Better Font Rendering =========== */
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-family: $font-titles;
    margin: 0 0 $gutter-small 0;
    line-height: 1;
    position: relative;
    z-index: 10;
    font-weight: 400;

    .green {
        color: $green;
    }

    .blue {
        color: $blue;
    }
}

h1, .h1 {
    font-size: 46px;
    line-height: 1.2;
    font-weight: 700;
}

h2, .h2 {
    font-size: 50px;
    line-height: 1.2;
}

h3, .h3 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
}

h4, .h4 {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 500;
}

h5, .h5 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
}

@media only screen and (max-width: 991px) {
    h1, .h1 {
        font-size: 40px;
    }

    h2, .h2 {
        font-size: 28px;
    }

    h3, .h3 {
        font-size: 22px;
    }

    h4, .h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}
