.post-grid {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -10px;

    .single-post {
        width: calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        flex-basis: calc(33.333% - 20px);
        margin: 10px;
        border-radius: $radius-mid;
        text-decoration: none;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        color: $text;
        font-weight: 400;

        .btn-ghost {
            width: 100%;
            display: flex;
        }

        .image {
            position: relative;
            display: block;
            flex-grow: 0;
            flex-shrink: 0;
            overflow: hidden;

            &:before {
                content: '';
                padding-top: 56.25%;
                display: block;
            }

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: all 0.3s ease-in-out;
            }
        }

        .content {
            padding: 30px;
            background: $white;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .btn.small {
                margin-bottom: 10px;
            }

            .time-to-read {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 15px;

                &:before {
                    @extend .icon-font;
                    content: '\e914';
                    color: $orange;
                    margin-right: 10px;
                    font-size: 1.2rem;
                }
            }

            .btn {
                margin-top: auto;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .post-grid .single-post .content {
        padding: 25px !important;
    }

    .post-grid .single-post {
        width: calc(50% - 20px);
        max-width: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
    }
}

@media only screen and (max-width: 600px) {
    .post-grid {
        display: block;
        margin: 0;

        .single-post {
            width: 100% !important;
            max-width: 100% !important;
            flex-basis: 100% !important;
            margin: 0 0 20px 0 !important;

            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
}
