footer.footer {
    border-top: 1px solid $text;
    
    .flex-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -20px;

        > * {
            width: calc(33.333% - 40px);
            max-width: calc(33.333% - 40px);
            flex-basis: calc(33.333% - 40px);
            margin: 20px;

            > *:last-child {
                margin-bottom: 0;
            }

            .logo {
                height: 80px;
                display: block;
                margin-bottom: 20px;
            }

            .btn {
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }

            ul {
                margin: 0 0 20px 0;
                padding: 0;

                li {
                    margin: 0 0 10px 0;
                    padding: 0;
                    list-style: none;

                    a {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .copyright-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 40px -20px -20px -20px;

        > * {
            width: calc(33.333% - 40px);
            max-width: calc(33.333% - 40px);
            flex-basis: calc(33.333% - 40px);
            margin: 20px;
        }
    }

    .disclaimer {
        margin-top: 80px;
        padding-top: 20px;
        border-top: 1px solid $text;
        font-size: .9rem;
    }
}
