footer.footer {
    background: $dark-blue;
    color: $white;
    font-size: 1.25rem;

    .container {
        padding-bottom: 40px !important;
    }

    a {
        color: $white;
    }

    .content {
        max-width: 1000px;
        margin: 0 auto;
    }

    h4 {
        color: #ACA8C7;
        margin-bottom: 80px;
    }

    img {
        display: block;
        max-width: 200px !important;
    }

    .flex-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: -20px;

        > * {
            width: calc(50% - 40px);
            max-width: calc(50% - 40px);
            flex-basis: calc(50% - 40px);
            margin: 20px;

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        margin-top: 80px;
        font-size: 1rem;

        p {
            margin-bottom: 0;
            opacity: .5;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                margin: 0 0 0 20px;
                padding: 0;
                list-style: none;
                display: inline-block;

                a {
                    font-weight: 300;
                    opacity: .5;
                    transition: opacity 0.3s ease-in-out;

                    &:hover,
                    &:focus {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    footer.footer {
        font-size: 1rem;

        h4 {
            margin-bottom: 20px;
        }

        img {
            max-width: 150px !important;
        }

        .flex-wrapper {
            display: block;
            margin: 0;

            > * {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                margin: 0 0 20px 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .copyright {
            display: block;

            ul li {
                display: block;
                margin-bottom: 10px;
                margin-left: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            p {
                margin-bottom: 10px;
            }
        }
    }
}
