footer.footer {
    background: $dark-blue;
    color: $white;
    font-size: 1.25rem;

    h4 {
        color: #ACA8C7;
        margin-bottom: 80px;
    }


    img {
        display: block;
        max-width: 250px !important;
    }
    .flex-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: -20px;

        > * {
            width: calc(50% - 40px);
            max-width: calc(50% - 40px);
            flex-basis: calc(50% - 40px);
            margin: 20px;

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
