header.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 140px;
    background: $white;
    z-index: 150;
    transition: background 0.3s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 60px;
        bottom: 0;
        z-index: -1;
        background: $purple;
    }

    .container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .top-bar {
        .flex-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 80px;

            .logo {
                display: block;
                font-size: 0;

                img {
                    height: 40px;
                    display: block;
                }
            }

            > div {
                margin-left: auto;

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;
                        list-style: none;
                        padding: 0;
                        margin: 0 0 0 40px;

                        &.current-menu-item,
                        &.current_page_item {
                            a:before {
                                width: 100%;
                            }
                        }

                        a {
                            font-size: 1.15rem;
                            font-weight: 400;
                            position: relative;
                            display: inline-block;

                            &:hover,
                            &:focus {
                                &:before {
                                    width: 100%;
                                }
                            }

                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -2px;
                                width: 0;
                                height: 1px;
                                background: $text;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom-bar {
        position: relative;
        z-index: 5;
        transition: opacity 0.3s ease-in-out;

        .flex-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 60px;

            p {
                margin: 0;
                font-weight: 400;
            }

            > div {
                margin-left: auto;

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;
                        list-style: none;
                        padding: 0;
                        margin: 0 0 0 20px;

                        &.current-menu-item,
                        &.current_page_item {
                            a {
                                background: $orange;
                                border-color: $orange;
                                color: $white;
                            }
                        }

                        a {
                            font-size: .9rem;
                            letter-spacing: 1px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: $text;
                            padding: 5px 15px;
                            border: 1px solid $text;
                            border-radius: 100px;
                            transition: all 0.3s ease-in-out;

                            &:hover,
                            &:focus {
                                background: $orange;
                                border-color: $orange;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    header.header {
        height: 110px;

        &:before {
            height: 50px;
        }

        .top-bar .flex-wrapper {
            height: 60px;

            .logo img {
                height: 30px;
            }

            > div {
                display: none;
            }
        }

        .bottom-bar {
            .flex-wrapper {
                height: 50px;
                font-size: .8rem;

                > div {
                    display: none;
                }
            }
        }
    }
}

#wpadminbar {
    display: none;

    #wp-admin-bar-customize,
    #wp-admin-bar-updates,
    #wp-admin-bar-comments,
    #wp-admin-bar-new-content,
    #wp-admin-bar-woocommerce-site-visibility-badge,
    #wp-admin-bar-rank-math,
    #wp-admin-bar-duplicate-post,
    #wp-admin-bar-wpforms-menu,
    #wp-admin-bar-wp-logo {
        display: none !important;
    }
}

@media only screen and (min-width: 1200px) {
    #wpadminbar {
        display: block !important;
    }

    .admin-bar {
        header.header {
            top: 32px;
        }
    }
}
