.mobile-nav-open {
    header.header {
        background: $purple;

        .bottom-bar {
            opacity: 0;
            pointer-events: none;
        }
    }

    .mobile-nav {
        opacity: 1;
        pointer-events: all;
    }
}

.mobile-nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 150;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    display: none;
    transition: all 0.3s ease-in-out;

    .content {
        padding: 0 $gutter-small;
        display: flex;
        height: 100%;
        flex-direction: column;
        position: relative;
        z-index: 10;
        background: rgba(213, 211, 227, 0.9);
        backdrop-filter: blur(5px);

        .nav {
            margin-top: 110px;
            overflow-y: auto;

            > .flex-wrapper {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                > * {
                    width: 100%;
                }
            }

            .extra {
                ul li {
                    &.current-menu-item,
                    &.current_page_item {
                        a {
                            background: $orange !important;
                            border-color: $orange !important;
                            color: $white !important;
                        }
                    }

                    a {
                        font-size: 1rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        color: $text;
                        padding: 5px 15px;
                        border: 1px solid $text;
                        border-radius: 100px;
                        transition: all 0.3s ease-in-out;
                        display: inline-block;

                        &:before {
                            content: none;
                        }

                        &:hover,
                        &:focus {
                            background: $orange;
                            border-color: $orange;
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .menu {
        margin-bottom: $gutter-small;
    }

    .btn {
        margin-top: 10px;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: block;
            list-style: none;
            padding: 0;
            margin: 0 0 10px 0;

            &:last-child {
                margin-bottom: 0;
            }

            &.current-menu-item,
            &.current_page_item {
                a:before {
                    width: 100%;
                }
            }

            a {
                font-size: 2rem;
                font-weight: 400;
                position: relative;
                display: inline-block;

                &:hover,
                &:focus {
                    &:before {
                        width: 100%;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    height: 2px;
                    background: $text;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    z-index: 250;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 4px;
    margin-right: -10px;
    transition: background 0.3s ease-in-out;
    position: fixed;
    right: 25px;
    top: 30px;
    transform: translateY(-50%);

    .line {
        width: 25px;
        height: 2px;
        background: $text;
        position: absolute;
        left: 50%;
        border-radius: 4px;
        top: 50%;
        transition: all 0.3s ease-in-out;

        &.line-1 {
            transform: translate(-50%, -4px);
        }

        &.line-2 {
            transform: translate(-50%, 4px);
        }
    }
}

@media only screen and (max-width: 991px) {
    .hamburger {
        display: block !important;
    }

    .mobile-nav-open .hamburger {

        .line-1,
        .line-2 {
            width: 20px;
        }

        .line-1 {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        .line-2 {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    .mobile-nav {
        display: block;
    }
}
