.mobile-nav-open .mobile-nav {
    opacity: 1;
    pointer-events: all;
}

.mobile-nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 150;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    display: none;
    transition: all 0.3s ease-in-out;

    .content {
        padding: 0 $gutter-small;
        display: flex;
        height: 100%;
        flex-direction: column;
        position: relative;
        z-index: 10;
        background: $blue;

        .nav {
            margin-top: 80px;
            overflow-y: auto;

            > .flex-wrapper {
                width: 100%;
                padding-bottom: 20px;
                padding-top: 40px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                > * {
                    width: 100%;
                }
            }
        }
    }

    .phone,
    .mail {
        display: flex;
        align-items: center;
        color: $white;
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 1rem;

        &:before {
            @extend .icon-font;
            content: '\e909';
            margin-right: 5px;
            color: $light-blue;
        }

        &.phone:before {
            content: '\e90a';
            font-size: .8rem;
        }
    }

    .social {
        margin-top: 5px;
    }

    .menu {
        margin-bottom: $gutter-small;
    }

    .btn {
        margin-top: 10px;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin-left: 0;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            overflow: hidden;

            a {
                font-size: 1.35rem;
                position: relative;
                color: $white;
                font-family: $font-titles;
                display: block;
                padding-right: 20px;
                font-weight: 600;
            }

            &.menu-item-has-children,
            &.page_item_has_children {
                > a {
                    position: relative;
                    transition: color 0.3s ease-in-out;

                    &.open {
                        color: $light-blue;

                        &:after {
                            color: $light-blue;
                            transform: translateY(-30%) rotate(180deg);

                        }

                        + ul {
                            max-height: 500px;
                        }
                    }

                    &:after {
                        @extend .icon-font;
                        content: '\e904';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-30%);
                        color: $white;
                        font-size: 1rem;
                        z-index: 5;
                        height: auto;
                        opacity: 1;
                        background: transparent;
                        width: auto;
                        transition: all 0.3s ease-in-out;
                    }
                }

                .sub-menu,
                .children {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.5s linear;

                    li {
                        border: none;
                        padding: 0;

                        &:first-child {
                            margin-top: 10px;
                        }

                        &:last-child {
                            margin-bottom: 10px;
                            padding-bottom: 0;
                            border: none;
                        }

                        a {
                            font-size: 1.1rem;
                            font-family: $font-body;
                            font-weight: 500;
                        }
                    }
                }
            }

            &.current-menu-item,
            &.current_page_item {
                > a:after {
                    opacity: 1;
                }
            }
        }
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    z-index: 250;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 4px;
    margin-right: -10px;
    transition: background 0.3s ease-in-out;
    position: fixed;
    right: 25px;
    top: 30px;
    transform: translateY(-50%);

    .line {
        width: 25px;
        height: 2px;
        background: $text;
        position: absolute;
        left: 50%;
        border-radius: 4px;
        top: 50%;
        transition: all 0.3s ease-in-out;

        &.line-1 {
            transform: translate(-50%, -4px);
        }

        &.line-2 {
            transform: translate(-50%, 4px);
        }
    }
}

@media only screen and (max-width: 991px) {
    .hamburger {
        display: block !important;
    }

    .mobile-nav-open .hamburger {

        .line-1,
        .line-2 {
            width: 20px;
        }

        .line-1 {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        .line-2 {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    .mobile-nav {
        display: block;
    }
}
