.page-404 {
    .content {
        max-width: 600px;
        padding: 40px;
        text-align: center;
        color: $white;
        background: $blue;
        border-radius: $radius-large;
        margin: 0 auto;
    }
}