section.search-results {
    .no-results {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;

        .search-form form div {
            margin: 0 auto;
        }
    }
}

.search-form  form div {
    display: flex;
    max-width:300px;

    input[type=text] {
        border-radius: 30px 0 0 30px;
        padding: 10px !important;
        font-size: 1rem;
    }

    input[type=submit] {
        border-radius: 0 30px 30px 0;
        padding: 10px 20px !important;
        font-size: 1rem;
    }
}
