section.post-content {
    .content {
        max-width: 800px;
        margin: 0 auto;

        > *:last-child {
            margin-bottom: 0;
        }
    }

    .image {
        display: block;
        position: relative;
        border-radius: $radius-mid;
        overflow: hidden;
        margin-bottom: 40px;

        &:before {
            content: '';
            padding-top: 56.25%;
            display: block;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
