// Gutters
$gutter-small: 20px;
$gutter: 40px;
$gutter-large: 80px;

// Fonts
$font-titles: 'DM Sans', sans-serif;
$font-body: 'DM Sans', sans-serif;

// Borders
$radius-small: 8px;
$radius-mid: 20px;
$radius-large: 200px;

// Colors
$text: #0E263B;
$white: #fff;
$blue: #0E263B;
$light-blue: #65ACAC;
$green: #2A9682;
$grey: #E7EBED;
$light-grey: #EEF1F2;
