// Gutters
$gutter-small: 20px;
$gutter: 40px;
$gutter-large: 80px;

// Fonts
$font-titles: 'DM Sans', sans-serif;
$font-body: 'DM Sans', sans-serif;

// Borders
$radius-small: 8px;
$radius-mid: 20px;
$radius-large: 200px;

// Colors
$text: #413960;
$white: #fff;
$grey: #F7F6F4;
$purple: #D5D3E3;
$light-blue: #E6EFF8;
$blue: #ACCDF2;
$dark-blue: #413960;
$orange: #FCA311;
